@import '_color/_dark/header__logo_color_dark.css';

.header__logo {
  font-family: 'Roboto Slab', Georgia, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 630px) {
  .header__checkbox:checked + .header__navigation .header__logo {
    padding-bottom: 50px;
  }

  .header__checkbox:checked + .header__navigation .header__logo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 60px;
    left: 0;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  }
}