.about__image {
  max-width: 464px;
  margin-right: 56px;
}

@media screen and (max-width: 850px) {
  .about__image {
    max-width: 232px;
    max-height: 232px;
  }
}

@media screen and (max-width: 570px) {
  .about__image {
    max-width: 272px;
    max-height: 272px;
    margin: 0;
  }
}