@import '__subtitle/my-page-main__subtitle.css';
@import '__title/my-page-main__title.css';
@import '__description/my-page-main__description.css';
@import '__keyword/my-page-main__keyword.css';

.my-page-main {
  padding: 40px 0 56px 104px;
}

@media screen and (max-width: 768px) {
  .my-page-main {
    padding: 24px 40px 32px;
  }
}

@media screen and (max-width: 630px) {
  .my-page-main {
    padding: 8px 16px 32px;
  }
}