.my-page-main__title {
  font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  max-width: 530px;
  margin: 28px 0 30px;
}

@media screen and (max-width: 768px) {
  .my-page-main__title {
    font-size: 30px;
    max-width: 336px;
    margin: 16px 0;
  }
}