.popup__form-button {
  width: 100%;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  background: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  padding: 21px 0 19px;
  margin-bottom: 16px;
  border: none;
  margin-top: 5px;
}

.popup__form-button:hover {
  background: #347EFF;
}

.popup__form-button:active {
  background: #2A65CC;
}

.popup__form-button:disabled {
  background: #E6E8EB;
  color: #B6BCBF;
  box-shadow: none;
}