@import '_color/_white/header__link_color_white.css';
@import '_color/_dark/header__link_color_dark.css';
@import '_checked/header__link_checked.css';
@import '_hidden/header__link_hidden.css';

.header__link {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #B6BCBF;
  margin-left: 34px;
  padding-bottom: 26px;
  text-decoration: none;
}

@media screen and (max-width: 1080px) {
  .header__link {
    font-size: 16px;
  }
}

@media screen and (max-width: 630px) {
  .header__link {
    color: white;
    display: block;
    margin: 0 0 30px;
    padding: 0;
  }
}