.footer__link {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #1A1B22;
  margin-right: 25px;
  text-decoration: none;
  color: #1A1B22;
}

@media screen and (max-width: 570px) {
  .footer__link {
    display: block;
    margin-bottom: 25px;
  }
}