.header__logout.header__logout_color_dark {
  color: #1A1B22;
  border-color: #1A1B22;
  background: url('../../../../../images/logout-black.png') no-repeat 90% 50%;
}

@media screen and (max-width: 630px) {
  .header__logout.header__logout_color_dark {
    color: #fff;
    border-color: #fff;
    background: url('../../../../../images/logout.png') no-repeat 53vw 50%;
  }
}