@import '__copyright/footer__copyright.css';
@import '__link/footer__link.css';
@import '__social-link/footer__social-link.css';
@import '__navigation/footer__navigation.css';
@import '__menu/footer__menu.css';
@import '__social/footer__social.css';

.footer {
  padding: 30px 104px 26px 106px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 910px) {
  .footer {
    padding: 24px 40px 18px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    flex-wrap: wrap-reverse;
  }
}

@media screen and (max-width: 570px) {
  .footer {
    padding: 20px 16px;
  }
}