.popup__content {
  position: relative;
  width: 430px;
  min-height: 182px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  box-sizing: border-box;
  padding: 34px 35px 28px;
}