@import '../vendor/fonts/Inter/inter.css';
@import '../vendor/fonts/sourcesanspro/sourcesanspro.css';
@import '../vendor/fonts/roboto/roboto.css';
@import '../blocks/main/main.css';
@import '../blocks/header/header.css';
@import '../blocks/search/search.css';
@import '../blocks/card/card.css';
@import '../blocks/results/results.css';
@import '../blocks/not-found/not-found.css';
@import '../blocks/preloader/preloader.css';
@import '../blocks/about/about.css';
@import '../blocks/footer/footer.css';
@import '../blocks/popup/popup.css';

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}