.header__logo.header__logo_color_dark {
  color: #1A1B22;
}

@media screen and (max-width: 630px) {
  .header__checkbox:checked + .header__navigation .header__logo.header__logo_color_dark {
    color: #fff;
    border-color: #fff;
  }
}