.results__button {
  display: block;
  margin: auto;
  padding: 18px 84px 22px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #1A1B22;
  background: #fff;
  border-radius: 80px;
  border: none;
  cursor: pointer;
}

.results__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 550px) {
  .results__button {
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }
}