.card__keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  padding: 11px 12px;
  background: #fff;
  border-radius: 10px;
}

