@import '_active/card__icon_active.css';

.card__icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  background: url('../../../images/normal.png') no-repeat 0 0 / 100%;
  z-index: 100;
}

.card__icon:hover:not(.card__icon_active) {
  background: url('../../../images/hover.png') no-repeat 0 0 / cover;
}

@media screen and (max-width: 920px) {
  .card__icon {
    top: 8px;
    right: 8px;
  }
}
