.card__delete-message {
  position: absolute;
  top: 0;
  right: 45px;
  min-width: 150px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  background: #fff;
  border-radius: 10px;
  padding: 14px 0;
  text-align: center;
  display: none;
}

.card__delete-icon:hover .card__delete-message {
  display: block;
}

@media screen and (max-width: 1120px) {
  .card__delete-message {
    top: 52px;
    right: 0px;
  }
}

@media screen and (max-width: 630px) {
  .card__delete-message {
    right: 0;
  }
}


@media screen and (max-width: 550px) {
  .card__delete-message {
    top: 0;
    right: 45px;
  }
}