.results__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 400px));
  gap: 16px;
  margin-bottom: 64px;
}

@media screen and (max-width: 768px) {
  .results__container {
    margin-bottom: 32px;
    gap: 8px;
  }
}

@media screen and (max-width: 710px) {
  .results__container {
    grid-template-columns: repeat(2, minmax(200px, 400px));
  }
}


@media screen and (max-width: 550px) {
  .results__container {
    grid-template-columns: repeat(1, minmax(200px, 500px));
  }
}