@import '__content/popup__content.css';
@import '__image/popup__image.css';
@import '__title/popup__title.css';
@import '__form-input/popup__form-input.css';
@import '__form-label/popup__form-label.css';
@import '__form-text/popup__form-text.css';
@import '__form-error/popup__form-error.css';
@import '__form-link/popup__form-link.css';
@import '__form-button/popup__form-button.css';
@import '__form-error/popup__form-error.css';
@import '__server-error/popup__server-error.css';
@import '_visible/popup_visible.css';

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}